.img-container {
  position: relative;
}

.mug-shot {
  position: relative;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 50%;
}

.github-text {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

.name-border {
  text-align: center;
  color: white;
  font-size: 12px;
  background-color: black;
  border-radius: 10px;
  border: solid white 2px;
  margin-top: 7px;
  padding: 8px;
}
