.donate-page {
  display: grid;
  grid-template-areas:
    "header"
    "donate";
  grid-gap: 15px;
  grid-template-rows: 16vh 1fr;
  padding: 20px;
}

.donate-main {
  grid-area: donate;
  border-radius: 15px;
  background-color: rgba(91, 171, 245, 0.5);
  padding: 20px;
}

.donate-container {
  padding: 15px;
}

.donate-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
}

.donation-header {
  margin: 10px;
}

.bordered-li {
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: solid #366192 2px;
  margin: 10px;
  height: 300px;
  text-align: center;
  color: black;
  top: 50%;
}

.bordered-li:hover {
  border: solid white 2px;
  color: white;
}
