.get-cast-container {
  display: grid;
  grid-template-areas:
    "header"
    "cast";
  grid-gap: 15px;
  grid-template-rows: 16vh 1fr;
  padding: 20px;
}

.get-cast-main {
  grid-area: cast;
  border-radius: 15px;
  background-color: rgba(91, 171, 245, 0.5);
  padding: 20px;
}

.source-logo {
  max-width: 200px;
  height: auto;
}

#audio-div {
  margin-top: 20px;
}

audio {
  width: 100%;
}

/* setting margin left and margin right in this fashion will mess up the mobile view...
FIX ASAP! */

#info-tile {
  margin-right: 10px;
}

#summary-tile {
  margin-left: 10px;
}

#summary-tile {
  background: white;
  border: solid black 3px;
}

@media only screen and (max-width: 800px) {
  #summary-tile {
    max-width: 300px;
  }
}
